@import "../Variables.scss";

.todo-item {
  border: $spacing-xxxsmall solid $primary-color;
  border-radius: $spacing-xsmall;
  padding: $spacing-small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $fifth-color;
}

.delete-button {
  border: $spacing-xxxsmall solid $quaternary-color;
  border-radius: $spacing-xsmall;
  margin-left: auto;

  &.delete-button.dark-mode {
    color: $sixth-color;
    background-color: $eighth-color;
  }
}

.todo-text {
  padding-left: $spacing-xsmall;
}

.editing-input {
  margin-left: $spacing-xsmall;
  padding: $spacing-xsmall;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 8px;
}
