@import "../../components/Variables.scss";

.add-button {
  margin-left: $spacing-small;
  padding: $spacing-xsmall;
  background-color: $primary-color;
  color: $sixth-color;
  border: none;
  border-radius: $sizing-xsmall;
  box-shadow: 0px 0px $spacing-xxxsmall $spacing-xxxsmall rgb(0, 0, 0);
}

.add-container {
  display: flex;
}

.add-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 $spacing-xxxsmall $secondary-color;
}

.add-input {
  border-radius: $spacing-xsmall;
  padding: $spacing-xsmall;
  width: 100%;
  border: 1px solid $primary-color;
}

.success-message {
  margin-left: $sizing-xsmall;
  color: $seventh-color;
}

.error-message {
  margin-left: $sizing-xsmall;
  color: $tertiary-color;
}
