@import "../Variables.scss";

.title {
  font-size: $bolder-font;
  font-weight: bolder;
  color: $primary-color;
  text-align: center;
  padding-bottom: $spacing-xxlarge;

  &.dark-mode {
    color: $sixth-color;
  }
}
