@import "../Variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 $spacing-small;
  margin: 0 auto;
}

.content {
  background-color: $sixth-color;
  border-radius: $spacing-xsmall;
  min-height: 95vh;
  margin-top: $spacing-small;
  padding: $spacing-small;
}

.navbar {
  padding-bottom: $spacing-small;
}

.filter-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.filter-item {
  color: $primary-color;
  text-align: center;
}

.navbar-item {
  text-decoration: none;
  color: $primary-color;
}
