/* font */
$font-family: "Roboto", sans-serif;
$thin-font: 0.5em;
$normal-font: 1em;
$bold-font: 1.5em;
$bolder-font: 3em;

/* spacing */
$spacing-xxxsmall: 2px;
$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;
$spacing-xxlarge: 40px;

/* sizing */
$sizing-xsmall: 10px;
$sizing-small: 20px;
$sizing-large: 30px;
$sizing-xlarge: 40px;

/* colors */
$primary-color: #1b2638;
$secondary-color: #e95420;
$tertiary-color: #ca0a0a;
$quaternary-color: #6c86ac;
$fifth-color: #f1f3f4;
$sixth-color: #ffffff;
$seventh-color: #00FF00;
$eighth-color: #000000;

/* border */
$secondary-border: 2px solid $quaternary-color;
