@import "./components/Variables.scss";

body {
  font-family: $font-family;
  background-color: $primary-color;
}
  
ul {
  list-style-type: none;
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 $spacing-small;
  margin: 0 auto;
}
  
.content {
  background-color: $sixth-color;
  display: grid;
  place-items: center;
  border-radius: $sizing-small;
}
  
.title {
  margin-top: $spacing-large;
  font-size: $bolder-font;
  font-weight: bolder;
  color: $primary-color;
}
  
.filter-list {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  padding: $spacing-small;
}
  
.filter-item {
  color: $primary-color;
	margin-left: $spacing-xxlarge;
	text-align: center;
}